<h1 class="page-header">New Author</h1>
<form action="/authors" method="post">
  <%- include('_form_fields.ejs') %>
  <div class="form-row form-end btn-row">
    <a class="btn btn-danger" href="/authors">Cancel</a>
    <button  class="btn btn-primary"type="submit">Add</button>

  </div>
</form>
