<form action="" id="form1">
  <h3 class="form-card-heading">PERSONAL DETAILS</h3>
  <img src="https://cdn.pixabay.com/photo/2022/02/11/23/23/heart-7008170_1280.png" alt="" id="preview-img" />
  <div class="profile-preview-button">
    <label for="profile-preview" class="profile-label-btn" id="" >Select Photo</label>
  </div>
  <input type="file" id="profile-preview" hidden>

  <input type="text" name="name" placeholder="Full Name" class="form-card-input" required>
  <input type="number" onkeypress="return isNumberKey(event)" name="age" placeholder="Age" class="form-card-input" required>
  <input type="number" onkeypress="return isNumberKey(event)" placeholder="Mobile" class="form-card-input" required>
  <input type="text" placeholder="Gender" class="form-card-input" required>
  <div class="form-btn-box">
      <button type="button" id="form-next1">Next</button>
  </div>
</form>
<form action="" id="form2">
  <h3 class="form-card-heading">BANK DETAILS</h3>
  <input type="text" name="" placeholder="Bank Name" class="form-card-input" required>
  <input type="text" name="" placeholder="Account Holder Name" class="form-card-input" required>
  <input type="number" name="" onkeypress="return isNumberKey(event)" placeholder="Account Number" class="form-card-input" required>
  <input type="text" name="" placeholder="Branch Name" class="form-card-input" required>
  <input type="text" name="" placeholder="IFSC Code" class="form-card-input" required>

  <div class="form-btn-box">
      <button type="button" id="form-back1">Back</button>
      <button type="button" id="form-next2">Next</button>
  </div>
</form>
<form action="" id="form3">
  <h3 class="form-card-heading">UPLOAD DOCUMENTS</h3>
  <input type="number" name="" onkeypress="return isNumberKey(event)" placeholder="Aadhar Card Number" class="form-card-input" required>
  <input type="file" id="aadhar" required hidden>
  <label for="aadhar" class="profile-label-btn">Choose file</label>

  <input type="text" name="" placeholder="PAN Card Number" class="form-card-input" required>
  <input type="file" id="pan" required hidden>
  <label for="pan" class="profile-label-btn">Choose file</label>

  <input type="number" onkeypress="return isNumberKey(event)" name="" placeholder="Monthly Income" class="form-card-input" required>
  <input type="file" id="income"  required hidden>
  <label for="income" class="profile-label-btn">Choose file</label>

  <input type="number" onkeypress="return isNumberKey(event)" name="" placeholder="CTC" class="form-card-input" required>

  <div class="form-btn-box">
      <button type="button" id="form-back2">Back</button>
      <button type="submit">Submit</button>
  </div>
</form>