<h3 class="m-b-50 heading-line">Profile Details</h3>
 <div class="card-container">
    
  <%- include('_form_fields.ejs') %>
  <button type="submit">Submit</button>

      <div class="step-row">
          <div id="progress"></div>
          <div class="step-col"><small>Step 1</small></div>
          <div class="step-col"><small>Step 2</small></div>
          <div class="step-col"><small>Step 3</small></div>
      </div>
  </div>
<script src="/public/scripts/profilePreview.js"></script>
