
        <h3 class="m-b-50 heading-line" style="margin-top: 3rem;">Profile Details <i class="fa-solid fa-user"></i></h3>

        <div class="preview-card-container" id="form1">
            <div class="preview-profile-form-div">
                <h3 class="preview-form-card-heading">PERSONAL DETAILS</h3>
                <img src="<%= googleUser.user.photos[0].value %> " alt="" />

                <div class="preview-main-content">
                    <p class="">
                        Name : Suraj Kumar Kushwaha
                    </p>
                    <p class="">
                        Age : 23 yrs
                    </p>
                    <p class="">
                        Mobile No.: 9305193082
                    </p>
                    <p class="">
                        Gender : Male
                    </p>
                    <p>
                        Salary : ₹ 1,00,000
                    </p>
                </div>
                <div class="preview-form-btn-box">
                    <button type="button" id="form-edit">Edit</button>
                  </div>

            </div>
        </div>

    </div>