<footer class="footer">
    <div class="footer-container">
        <div class="footer-row">
            <div class="footer-col">
                <h4><span class="footer-col-border">company</span></h4>
                <ul>
                    <li><a href="#">About Us</a></li>
                    <li><a href="/services">Our Services</a></li>
                    <li><a href="#">Terms and Conditions</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4><span class="footer-col-border" >Get Help</span></h4>
                <ul>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="/contactus">Contact Us</a></li>
                </ul>
            </div>

            <div class="footer-col">
                <h4><span class="footer-col-border">follow us</span></h4>
                <div class="social-links">

                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                 <a href="#"><i class="fab fa-github"></i></a>
                </div>
            </div>
        </div>
    </div>
 <div class="footer-bottom-container">
     <div class="footer-site-info">© 2022 <span class="footer-bottom-name">p-blitz</span></div>
     </div>
 </div>
</footer>