<header>
    <nav class="header-nav">
        <a class="header-title" href="/">p-blitz</a>
        <ul>
            <li><a href="/dashboard">Home</a></li>
            <li><a href="/loan">Loan</a></li>
            <li><a href="/notification">Notifications</a></li>
            <li><a href="/profile">Profile</a></li>
        </ul>
    </nav>
</header>