<header>
    <nav class="header-nav">
        <a class="header-title" href="/">p-blitz</a>
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">Loan</a></li>
            <li><a href="">Notifications</a></li>
            <li><a href="">Profile</a></li>
        </ul>
    </nav>
</header>