<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
<section class="home" id="home">
    <div class="max-width">
       
        <div class="home-content">
            <div class="text-1">Personal Loan</div>
            <div class="text-2">Personalized Experience</div>
            <div class="text-3">We Provide <span class="typing"></span></div>
            <div class="text-4">The Best Instant Personal Loan App For All Your Needs</div>
            <a href="#">Get Instant Approval</a>
        </div>
        
    </div>
</section>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&family=Tapestry&display=swap');
    /* ddddddd */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    overflow: hidden;
}

body {
    overflow: hidden;
}

/* home section styling */
.home {
    display: flex;
    position: relative;
    background: url('https://images.unsplash.com/photo-1616514197671-15d99ce7a6f8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8bG9hbnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60') no-repeat center;
    height: 100vh;
    z-index: -1;
    overflow: hidden;
    /* max-height: 100%; */
    /* max-height: 100%; */
    /* margin-bottom: 0%; */
    /* width: 100vw; */
    /* max-width: 2000px; */
    color: #fff;
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Tapestry', cursive;
    /* opacity: 0.9; */
}

.home .max-width {
    /* width: 100vw; */
    display: flex;
    /* height: 100vh; */
}

.home .home-content {
    /* padding: 30px 10px;
    margin: 50px 5px; */
    line-height: 2;
    margin-left: 3%;
}

.home .home-content .text-1 {
    font-size: 42px;
    margin-top: 30%;
}

.home .home-content .text-2 {
    font-size: 75px;
    font-weight: 600;
    /* margin-left: -3px; */
}

.home .home-content .text-3 {
    font-size: 40px;
    /* margin: 5px 0; */
}

.home .home-content .text-4 {
    font-size: 35px;
}

.home .home-content .text-3 span {
    color: rgb(0, 26, 255);
    font-weight: 500;
}

.home .home-content a {
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    font-weight: 400;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}

.home .home-content a:hover {
    color: crimson;
    background: none;
}

@media (max-width : 432px) {
    .home {
        height: 100%;
        max-height: 2000px;
        /* width: 100vw; */
        max-width: 432px;
        background: black;

    }

    .home .home-content {

        line-height: 3;
        /* margin-left: 0%; */
        text-align: center;
    }


    .home .home-content .text-1 {
        font-size: 22px;
        margin-top: 3%;
    }

    .home .home-content .text-2 {
        font-size: 25px;
        font-weight: 400;
        /* margin-left: -3px; */
    }

    .home .home-content .text-3 {
        font-size: 18px;
        /* margin: 5px 0; */
    }

    .home .home-content .text-4 {
        font-size: 15px;
    }

    .home .home-content a {
        font-size: 12px;
        padding: 6px 18px;
        margin-top: 10px;
        font-weight: 400;
        border-radius: 6px;
        border: 2px solid crimson;
        transition: all 0.3s ease;

        width: 60%;
        margin-right: 20%;
        margin-left: 20%;
    }
}

@media (min-width : 433px) and (max-width: 680px) {
    .home {
        height: 100%;
        max-height: 2000px;
        /* width: 100vw; */
        max-width: 680px;
        /* background: black; */

    }

    .home .home-content {

        line-height: 2;
        /* margin-left: 0%; */
        text-align: center;
    }


    .home .home-content .text-1 {
        font-size: 32px;
        margin-top: 20%;
    }

    .home .home-content .text-2 {
        font-size: 35px;
        font-weight: 400;
        /* margin-left: -3px; */
    }

    .home .home-content .text-3 {
        font-size: 28px;
        /* margin: 5px 0; */
    }

    .home .home-content .text-4 {
        font-size: 25px;
    }

    .home .home-content a {
        font-size: 22px;
        padding: 10px 22px;
        margin-top: 10px;
        font-weight: 400;
        border-radius: 6px;
        border: 2px solid crimson;
        transition: all 0.3s ease;

        width: 60%;
        margin-right: 20%;
        margin-left: 20%;
    }
}

@media (min-width : 681px) and (max-width: 900px) {
    .home {
        height: 100%;
        max-height: 2000px;
        /* width: 100vw; */
        max-width: 900px;
        /* background: black; */

    }

    .home .home-content {

        line-height: 2;
        margin-left: 2%;
        /* text-align: center; */
    }


    .home .home-content .text-1 {
        font-size: 42px;
        margin-top: 20%;
    }

    .home .home-content .text-2 {
        font-size: 45px;
        font-weight: 400;
        /* margin-left: -3px; */
    }

    .home .home-content .text-3 {
        font-size: 38px;
        /* text-align: center; */
        /* margin: 5px 0; */

    }

    .home .home-content .text-4 {
        font-size: 35px;
    }

    .home .home-content a {
        font-size: 32px;
        padding: 10px 48px;

        margin-top: 20px;
        font-weight: 400;
        border-radius: 6px;
        border: 2px solid crimson;
        transition: all 0.3s ease;

        /* width: 60%; */
        /* margin-right: 20%; */
        /* margin-left: 20%; */
    }
}

@media (min-width : 901px) and (max-width : 1300px) {
    .home {
        height: 100%;
        /* width: 100vw; */
        max-width: 1300px;
        max-height: 2000px;
        /* background: black; */

    }

    .home .home-content {

        line-height: 2;
        margin-left: 3%;
        /* text-align: center; */
    }


    .home .home-content .text-1 {
        font-size: 52px;
        margin-top: 20%;
    }

    .home .home-content .text-2 {
        font-size: 55px;
        font-weight: 400;
        /* margin-left: -3px; */
    }

    .home .home-content .text-3 {
        font-size: 48px;
        /* text-align: center; */
        /* margin: 5px 0; */

    }

    .home .home-content .text-4 {
        font-size: 45px;
    }

    .home .home-content a {
        font-size: 42px;
        /* padding: 10px 48px; */

        margin-top: 20px;
        font-weight: 400;
        border-radius: 6px;
        border: 2px solid crimson;
        transition: all 0.3s ease;

        /* width: 60%; */
        /* margin-right: 20%; */
        /* margin-left: 20%; */
    }
}

@media (max-width :1301px) {
    .home {
        height: 100%;
        /* width: 100vw; */
        max-width: 1300px;
        /* background: black; */
        min-height: 1000px;

    }

    .home .home-content {

        /* line-height: 2; */
        margin-left: 3%;
        /* text-align: center; */
    }


    .home .home-content .text-1 {
        /* font-size: 52px; */
        margin-top: 20%;
    }

    .home .home-content .text-2 {
        /* font-size: 55px; */
        font-weight: 400;
        /* margin-left: -3px; */
    }


    .home .home-content a {
        /* font-size: 42px; */
        /* padding: 10px 48px; */

        margin-top: 20px;
        font-weight: 400;
        border-radius: 6px;
        border: 2px solid crimson;
        transition: all 0.3s ease;

        /* width: 60%; */
        /* margin-right: 20%; */
        /* margin-left: 20%; */
    }
}
</style>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.11/typed.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
<script>
    $(document).ready(function(){
    $(window).scroll(function(){
        // sticky navbar on scroll script
        if(this.scrollY > 20){
            $('.navbar').addClass("sticky");
        }else{
            $('.navbar').removeClass("sticky");
        }
        
        // scroll-up button show/hide script
        if(this.scrollY > 500){
            $('.scroll-up-btn').addClass("show");
        }else{
            $('.scroll-up-btn').removeClass("show");
        }
    });
    // slide-up script
    $('.scroll-up-btn').click(function(){
        $('html').animate({scrollTop: 0});
        // removing smooth scroll on slide-up button click
        $('html').css("scrollBehavior", "auto");
    });
    $('.navbar .menu li a').click(function(){
        // applying again smooth scroll on menu items click
        $('html').css("scrollBehavior", "smooth");
    });
    // toggle menu/navbar script
    $('.menu-btn').click(function(){
        $('.navbar .menu').toggleClass("active");
        $('.menu-btn i').toggleClass("active");
    });
    // typing text animation script
    var typed = new Typed(".typing", {
        strings: [ "Low CIBIL", "Money in 24 Hours", "Fast, Reliable Service"],
        typeSpeed: 100,
        backSpeed: 60,
        loop: true
    });
    var typed = new Typed(".typing-2", {
        strings: [ "Low CIBIL", "Money in 24 Hours", "Fast, Reliable Service"],
        typeSpeed: 100,
        backSpeed: 60,
        loop: true
    });
    // owl carousel script
    $('.carousel').owlCarousel({
        margin: 20,
        loop: true,
        autoplay: true,
        autoplayTimeOut: 2000,
        autoplayHoverPause: true,
        responsive: {
            0:{
                items: 1,
                nav: false
            },
            600:{
                items: 2,
                nav: false
            },
            1000:{
                items: 3,
                nav: false
            }
        }
    });
});
</script>