<section class="dashboard-section-50">
    <div class="dashboard-container">
      <h3 class="dashboard-m-b-50 heading-line">Dashboard</h3>
      <div class="dashboard-ui_dd-content">
        <% loans.forEach(loan =>{ %>
        <div class="dashboard-list">
          <div class="dashboard-container">
            <div class="dashboard-list_content">
              <div class="dashboard-list_img">
                <img src="/public/images/logo.png" alt="user">
              </div>
              <div class="dashboard-list_detail">
                <p><b>Suraj Kumar</b> <span class="dashboard-text-muted">has an offer</span> </p>
              </div>
              <p class="dashboard-time">10 mins ago</p>
            </div>
            <div class="dashboard-two-column" id="">
              <div class="dashboard-left">
                <div class="dashboard-loan-info">
                  <b>Loan amount:</b>
                  ₹ <%= loan.amount %>
                </div>
                <div class="dashboard-loan-info">
                  <b>Tenure:</b>
                  <%= loan.tenure %> yrs
                </div>
              </div>
              <div class="dashboard-right">
                <div class="dashboard-loan-info">
                  <b>Credit scrore:</b>
                  1000000
                </div>
                <div class="dashboard-loan-info">
                  <b>Interest rate:</b>
                  <%= loan.interestRate %>
                </div>
              </div>
            </div>
            <div class="dashboard-loan-reason">
              <b> Reason:</b>
            </div>
            <div class="dashboard-btn-container">
              <button class="dashboard-button dashboard-btn-a">Accept</button>
              <button class="dashboard-button dashboard-btn-n">Negotiate</button>
              <button class="dashboard-button dashboard-btn-r">Reject</button>
            </div>
          </div>
        </div>
        <%})%>
      </div>
    </div>
  </section>