<div class="login_container">
  <div class="background"></div>
  <div class="login-area">
    <div class="logo">
      <img src="./googleSignin.png" alt="hi" />
    </div>
    <form class="login-form">
      <h3>Login Here</h3>
      <label for="username">Username</label>
      <input type="text" placeholder="Email or Phone" id="username" />

      <label for="password">Password</label>
      <input type="password" placeholder="Password" id="password" />

      <button>Log In</button>
      <p>OR</p>
      <div class="social">
        <div class="go">
          <a class="button google" href="/login/federated/google">
            </i>Log in with Google
          </a>
        </div>
      </div>
      <div class="new-user">New to p-blitz <a href="">Signup</a> here!</div>
    </form>
  </div>
</div>
