<div class="login-main-container">
  <div class="login-background">
  </div>
  <div class="login-area">
    <div class="login-logo">
      <img src="../public/images/logo3.png" alt="">
    </div>
    <form class="login-form">
      <h3>Login</h3>
        <a href="/login/federated/google" class="login-button">
          Login with Google
        </a>
      <div class="login-new-user">New to p-blitz? <a href="/signup" class="hover-underline-animation">Signup</a> here!</div>
    </form>
  </div>
</div>
