<section class="section-50">
    <div class="container">
        <h3 class="m-b-50 heading-line">Notifications <i class="fa fa-bell text-muted"></i></h3>
        <div class="notification-ui_dd-content">
            <div class="notification-list">
                <div class="d-flex flex-column container">
                    <div class="notification-list_content">
                        <div class="notification-list_img">
                            <img src="/public/images/logo.png" alt="user">
                        </div>
                        <div class="notification-list_detail">
                            <p><b>Suraj Kumar</b> has an offer</p>
                            <p class="text-muted">Offered tenure: 10 years
                                </br> Offered interest: 14%
                            </p>
                        </div>
                        <!-- <p class="notification-time">10 mins ago</p> -->
                    </div>
                    <div class="btn-container d-flex justify-content-between">
                        <button class="button btn-a">ACCEPT</button>
                        <button class="button btn-r">REJECT</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>