<div class="signup-area">
    <div class="signup-logo">
        <img src="../public/images/logo.png" alt="">
    </div>
    <form class="signup-form">
        <h3>Signup Here</h3>
            <a href="/login/federated/google" class="signup-button">Signup with Google</a>
        <div class="signup-old-user">Already have a account? <a href="/login" class="hover-underline-animation">Login</a> here!</div>
    </form>
</div>