<h1>Edit Loan</h1>
<form action="/loanrequest/<%= loan.id  %>?_method=PUT" method="POST">
    <%- include('_form_fields.ejs') %>
    <div>
      <a href="/dashboard>">Cancel</a>
      <button type="submit">Update</button>

    </div>
</form>
