* {
    padding: 0;
    margin: 0;
}

.dashboad-section-50 {
    padding: 50px 0;
    width: 100vw;
    font-family: "Roboto", sans-serif;
    background: #EFF1F3;
    min-height: 100vh;
    position: relative;
}

.dashboad-m-b-50 {
    margin-bottom: 50px;
}

/* .dark-link {
    color: #333;
} */

.heading-line {
    position: relative;
    padding-bottom: 5px;
    font-size: 1.8rem;
    margin-left: 15%;
}

.heading-line:after {
    content: "";
    height: 4px;
    width: 75px;
    background-color: #29B6F6;
    position: absolute;
    bottom: 0;
    left: 0;
}

.dashboad-ui_dd-content {
    margin-bottom: 30px;
}

.dashboad-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 2%;
    margin: auto;
    margin-bottom: 40px;
    margin-top: 40px;
    max-width: 600px;
    background: #fff;
    -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.06);
    box-shadow: 0 3px 10px 4px rgba(0, 0, 0, 0.08);
    border-radius: 0.4rem;
}

.dashboad-list .dashboad-list_content {
    display: -webkit-box;
    display: -ms-flexbox;
    font-size: 20px;
}

/* .notification-list .notification-list_content  */
.dashboad-list_img img {
    height: 3.3rem;
    width: 3.3rem;
    border-radius: 50px;
    margin-right: 20px;
}

/* .notification-list .notification-list_content .notification-list_detail p { */
    /* margin-bottom: 5px; */
    /* line-height: 1.2; */
    /* border: 2px solid black; */
/* } */

.dashboad-list_detail {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid black; */
}

.dashboad-text-muted {
    color: #6c757d;
}

/* .notification-list .notification-list_feature-img img {
    height: 48px;
    width: 48px;
    border-radius: 5px;
    margin-left: 20px;
} */

.dashboad-container {
    width: 100vw;
    /* border: 2px solid black; */
}

.dashboad-btn-container {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    margin-left: 15%;
    margin-right: 15%;
}

.dashboad-button {

    background-color: white;
    border: 0;
    outline: border;
    padding: 8px;
    font-size: 16px;
    min-width: 80px;
    font-family: inherit;
    box-shadow: 0px 5px 10px rgba(darken(dodgerblue, 40%));
    transition: all .3s;
    cursor: pointer;
    border-radius: 5px;
    border-bottom: 4px solid lighten(gray, 70%);
}

.dashboad-btn-a {
    background-color: #137B1F;
    color: #F8F8F8;

}
.dashboad-btn-a:hover,.dashboad-btn-a:active,.dashboad-btn-a:focus {
    background-color: #137B1F;
    color: #F8F8F8;

}
.dashboad-btn-n {
    background-color: #A3A4A3;
    color: #282623;

}
.dashboad-btn-n:hover,.dashboad-btn-n:active,.dashboad-btn-n:focus {
    background-color: #1D4ED3;
    color: #F8F8F8;

}
.dashboad-btn-r {
    background-color: #A3A4A3;
    color: #282623;
}

.dashboad-time {
    color: #6c757d;
    position: relative;
    margin-left: auto;
    height: max-content;
    /* border: 2px solid red; */

}

.dashboad-button:hover {
    box-shadow: 0px 15px 25px -5px rgba(darken(dodgerblue, 40%));
    transform: scale(1.06);
}

.dashboad-button:active {
    box-shadow: 0px 15px 25px -5px rgba(darken(dodgerblue, 40%));
    transform: scale(.94);
}

.dashboad-button:focus {
    outline: 0;
}
.dashboad-loan-info{
    font-size: large;
    padding: 0.8rem;
}
.dashboad-loan-reason{
    /* border: 2px solid black; */
    width: 80%;
    margin-left: 10%;
    padding: 1rem;
}
@media only screen and (max-width: 800px) {
    .heading-line {
        font-size: 16px;
    }

    .dashboad-list_detail {
        font-size: 15.6px;
    }

    .dashboad-container {
        width: 96vw;
        margin-left: 2vw;
    }

    .dashboad-section-50 {
        width: 100vw;
    }

    /* .btn-r { */
        /* margin-left: 20px; */
    /* } */

    /* .dashboad-button {
        padding: 5px;
        font-size: 12px;
        width: 70px;
        font-family: inherit;
        box-shadow: 0px 5px 10px rgba(darken(dodgerblue, 40%));
        transition: all .3s;
        cursor: pointer;
        border-radius: 5px;
        border-bottom: 4px solid lighten(gray, 70%);
    } */

    .dashboad-list .notification-list_feature-img img {
        height: 36px;
        width: 36px;
        border-radius: 5px;
        margin-left: 12px;
    }

    .heading-line {
        margin-left: 10%;
    }

    .dashboad-time {
        font-size: 0.8rem;
        /* display: inline; */
        /* margin-left: -5vh; */
    }
    .dashboad-text-muted{
        /* display: block; */
        font-size: 1rem;
    }
    .heading-line:after {
        content: "";
        height: 4px;
        width: 40px;
        background-color: #29B6F6;
        position: absolute;
        bottom: 0;
        left: 0;
    }
    .dashboad-btn-container {
        margin-top: 15px;
        display: flex;
        justify-content: space-around;
        margin-left: 0;
        margin-right: 0;
        /* width: 100%; */
    }
    .dashboad-list_img {
        height: 3rem;
        width: 3.25rem;
        /* border: 2px solid black; */
        margin-left: -0.5rem;
    }
    .dashboad-list_img img {
        height: 3rem;
        width: 3rem;
        border-radius: 50px;
        /* margin-right: 20px; */
    }
    .dashboad-list_detail p{
        font-size: 1.2rem;
    }
}

.dashboad-two-column {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 80%;
    margin-left: 10%;
    /* border: 2px solid black; */
}

.dashboad-left {
    width: 47%;
    /* text-align: left; */
    /* border: 2px solid black; */
}

.dashboad-right {
    width: 47%;
    /* text-align: right; */
    /* border: 2px solid black; */
}

@media only screen and (max-width: 799px) {
    .dashboad-two-column {
        display: block;
    }

    .dashboad-left {
        width: 100%;
        /* border: 2px solid black; */
    }

    .dashboad-right {
        width: 100%;
        /* border: 2px solid black; */
    }
    .dashboad-loan-info{
        font-size: medium;
        padding: 0.5rem;
    }
    .dashboad-loan-reason{
        /* border: 2px solid black; */
        width: 80%;
        margin-left: 10%;
        padding: 0.5rem;
    }
}

