@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap);
@import "login.css";
@import "signup.css";
@import "notification.css";
@import "footer.css";
@import "header.css";
@import "profile.css";
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  overflow-x: hidden;
}
