@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap);
@import "login.css";
@import "notification.css";
@import "footer.css";
@import "header.css";
@import "loanrequest.css";
@import "dashboard.css";
@import "profile.css";
@import "show.css";
@import "errormessage.css";
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.body-page{
  min-height: 100vh;
}
body {
  background-color: rgb(239,241,243);
  overflow-x: hidden;
  font-family: "Poppins", sans-serif ;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
